@page "/"
@using Ergo.App.Contracts
@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<PageTitle>Home</PageTitle>

<style>

    body{
        overflow:hidden;
        margin:0;
    }



    .card-container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 300px; 
    }

    .card {
        background-color: #a249d1;
        opacity: 0.25;
        display: flex;
        flex-direction: column;
        height: fit-content; 
        margin: 0 20px;
    }


   
</style>

<div class="stars-container">
    @for (int i = 0; i < 250; i++)
    {
        var size = Random.Next(1, 3); 
        var darkness = Random.Next(30, 40); 
        <div class="star" style="width: @(size)px; height: @(size)px; top: @(Random.Next(10, 100))vh; left: @(Random.Next(15, 100))vw; animation-duration: @(Random.Next(5, 33))s; opacity: 0.@darkness;"></div>
    }
</div>

<div class="d-flex align-items-center flex-column justify-content-center" style="margin-bottom:5rem;margin-top:7rem;">
    <h1 style="font-weight:700; font-size:56px; text-align:center; font-style:italic;">Ergo</h1>
    <h5 class="green-gradient-text">Created to empower your work, inspiring you to create.</h5>
</div>


<div class="home-cards">
    <div class="card card-body-home" style=" background: linear-gradient(to right, #56296e, #a249d1); opacity:0.5;">
        <div class="card-body">
            <h5 class="card-title">Create facebook from scratch</h5>
            <p class="card-text"> orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            <p class="card-text"><strong>Deadline:</strong> 09.02.2024</p>
        </div>
    </div>

    <div class="card card-body-home" style="background: linear-gradient(to right, #2f577d, #4d91d1); opacity: 0.9;">
        <div class="card-body">
            <h5 class="card-title">Create the bast task management platform</h5>
            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <p class="card-text"><strong>Deadline:</strong> 09.02.2024</p>
        </div>
    </div>

    <div class="card card-body-home" style="background: linear-gradient(to right, #285e48, #60a88b); opacity: 0.7;">
        <div class="card-body">
            <h5 class="card-title">Create facebook from scratch</h5>
            <p class="card-text"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Scriu si eu aici niste vrajeala sa fie lorem ipsum dolor sit amet. </p>
            <p class="card-text"><strong>Deadline:</strong> 09.02.2024</p>
        </div>
    </div>
</div>





<br />
<CascadingAuthenticationState>
    <Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
        <NotAuthorized>
            <button class="btn cool-button btn-primary" @onclick="NavigateToLogin">Click here to log in</button>
            <br />
            <button class="btn cool-button btn-primary" @onclick="NavigateToRegister">Click here to register</button>
        </NotAuthorized>
    </Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
</CascadingAuthenticationState>

@code {
    [Inject]
    public NavigationManager NavigationManager { get; set; }

    private void NavigateToLogin()
    {
        NavigationManager.NavigateTo("/login");
    }

    private void NavigateToRegister()
    {
        NavigationManager.NavigateTo("/register");
    }

    private Random Random = new Random();
}
